header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e2e2e2 0%, #CF9FFF 4%, #CF9FFF 96%, #e2e2e2 100%)    
}
body {
    margin: 0;
}
.Header.Title {
    text-align: center;
    left: 33%;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Header.Image {
    transform: scale(1.3);
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
