header {
    display: flex;
    position: relative;
    background: linear-gradient(to right, #e2e2e2 0%, #CF9FFF 1%, #CF9FFF 99%, #e2e2e2 100%)    
}
body {
    margin: 0;
}
.Header.Title {
    position: absolute;
    text-align: center;
    left: 33%;
    font-family: Georgia, 'Times New Roman', Times, serif
}